## ADNI Merged Data EDA

In [2]:
import pandas as pd
import numpy as np

In [ ]:
"C:\Users\winsl0w\Documents\CS109_notebooks\FINAL PROJECT\Study Info\ADNIMERGE.csv"

In [7]:
df = pd.read_csv('Study Info/ADNIMERGE.csv', low_memory=False)
dd = pd.read_csv('Study Info/ADNIMERGE_DICT.csv')

In [62]:
df.head()

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0,2018-10-19 22:51:15.0
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0,2018-10-19 22:51:15.0
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6,2018-10-19 22:51:15.0
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12,2018-10-19 22:51:15.0
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24,2018-10-19 22:51:15.0

In [63]:
df.shape

(13632, 113)

In [8]:
# How much missing data do we have per column?
cols_with_nulls = df.columns[df.isnull().any()]

idx = []
missing = []
missing_pct = []

for col in cols_with_nulls:
    idx.append(col)
    missing.append(len(df[col][df[col].isnull()]))
    missing_pct.append(100 * len(df[col][df[col].isnull()])/len(df[col]))

missing_df = pd.DataFrame(np.array([missing, missing_pct]).T, index=idx, columns=['num missing', 'pct missing'])
missing_df.head()

       num missing  pct missing
DX_bl         17.0     0.124725
AGE            1.0     0.007337
APOE4        377.0     2.765957
FDG        10123.0    74.269993
PIB        13407.0    98.363903

In [67]:
df.describe()

,RID,SITE,AGE,PTEDUCAT,APOE4,FDG,PIB,AV45,CDRSB,ADAS11,...,EcogSPOrgan_bl,EcogSPDivatt_bl,EcogSPTotal_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M
count,13632.000000,13632.000000,13631.000000,13632.000000,13254.000000,3507.000000,223.000000,2510.000000,9778.000000,9683.000000,...,6226.000000,6382.000000,6524.000000,9651.000000,149.000000,6227.000000,13632.000000,13632.000000,13632.000000,13632.000000
mean,2394.221391,75.639305,73.677852,16.025455,0.532368,1.206657,1.783161,1.190519,2.102526,11.475344,...,1.617376,1.805756,1.659148,1.246856,1.588003,1.196620,2.310680,27.671344,27.590889,27.411312
std,1949.983450,116.331834,6.977834,2.813189,0.654409,0.159250,0.422511,0.226900,2.834631,8.448760,...,0.824599,0.884083,0.689057,0.144129,0.305423,0.220142,2.390667,28.629223,28.585201,28.412956
min,2.000000,2.000000,54.400000,4.000000,0.000000,0.636743,1.095000,0.805364,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.693671,1.155000,0.805364,0.000000,0.000000,0.000000,0.000000
25%,649.000000,21.000000,69.400000,14.000000,0.000000,1.109225,1.361250,1.009253,0.000000,6.000000,...,1.000000,1.000000,1.128210,1.159195,1.360000,1.016820,0.495551,5.934430,6.000000,6.000000
50%,1378.000000,41.000000,73.600000,16.000000,0.000000,1.219320,1.850000,1.108830,1.000000,9.000000,...,1.166670,1.500000,1.393940,1.253810,1.490000,1.112820,1.524980,18.262300,18.000000,18.000000
75%,4401.000000,116.000000,78.500000,18.000000,1.000000,1.312325,2.127500,1.356988,3.000000,15.000000,...,2.000000,2.250000,1.974360,1.338620,1.835000,1.366640,3.468860,41.541000,42.000000,42.000000
max,6582.000000,941.000000,91.400000,20.000000,2.000000,1.751210,2.927500,2.669210,18.000000,70.000000,...,4.000000,4.000000,3.948720,1.701130,2.282500,2.025560,12.689900,151.967000,150.000000,156.000000

In [9]:
missing_sorted = missing_df.sort_values(by=['pct missing'], ascending=False)
print(missing_sorted)

                          num missing  pct missing
FLDSTRENG_bl                  13630.0   100.000000
FLDSTRENG                     13630.0   100.000000
PIB_bl                        13481.0    98.906823
PIB                           13407.0    98.363903
PTAU                          11260.0    82.611886
ABETA                         11259.0    82.604549
TAU                           11259.0    82.604549
AV45                          11120.0    81.584740
FDG                           10123.0    74.269993
DIGITSCOR                      9830.0    72.120323
EcogSPOrgan                    8012.0    58.782098
EcogPtOrgan                    7946.0    58.297872
EcogSPDivatt                   7907.0    58.011739
MOCA                           7899.0    57.953045
EcogSPVisspat                  7866.0    57.710932
EcogPtDivatt                   7864.0    57.696258
EcogPtVisspat                  7863.0    57.688921
EcogPtPlan                     7831.0    57.454145
EcogSPPlan                     7825.0    57.410125
EcogPtLang                     7822.0    57.388114
EcogPtTotal                    7815.0    57.336757
EcogPtMem                      7802.0    57.241379
EcogSPTotal                    7757.0    56.911225
EcogSPMem                      7757.0    56.911225
EcogSPLang                     7751.0    56.867205
EcogSPOrgan_bl                 7406.0    54.336023
AV45_bl                        7404.0    54.321350
EcogSPDivatt_bl                7250.0    53.191489
EcogPtOrgan_bl                 7230.0    53.044754
EcogSPVisspat_bl               7190.0    52.751284
...                               ...          ...
ADAS11                         3949.0    28.972854
ADASQ4                         3926.0    28.804109
mPACCdigit                     3921.0    28.767425
mPACCtrailsB                   3919.0    28.752751
MMSE                           3914.0    28.716067
CDRSB                          3854.0    28.275862
FAQ                            3838.0    28.158474
Entorhinal_bl                  2306.0    16.918562
MidTemp_bl                     2306.0    16.918562
Fusiform_bl                    2306.0    16.918562
Hippocampus_bl                 2185.0    16.030814
Ventricles_bl                   877.0     6.434336
WholeBrain_bl                   619.0     4.541453
FSVERSION_bl                    459.0     3.367572
ICV_bl                          459.0     3.367572
APOE4                           377.0     2.765957
TRABSCOR_bl                     226.0     1.658107
ADAS13_bl                        87.0     0.638298
RAVLT_perc_forgetting_bl         62.0     0.454879
FAQ_bl                           56.0     0.410858
RAVLT_forgetting_bl              40.0     0.293470
RAVLT_learning_bl                40.0     0.293470
RAVLT_immediate_bl               40.0     0.293470
ADAS11_bl                        24.0     0.176082
DX_bl                            17.0     0.124725
LDELTOTAL_BL                      6.0     0.044021
ADASQ4_bl                         6.0     0.044021
mPACCtrailsB_bl                   4.0     0.029347
mPACCdigit_bl                     4.0     0.029347
AGE                               1.0     0.007337

[93 rows x 2 columns]

In [10]:
df.FLDSTRENG

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
13600   NaN
13601   NaN
13602   NaN
13603   NaN
13604   NaN
13605   NaN
13606   NaN
13607   NaN
13608   NaN
13609   NaN
13610   NaN
13611   NaN
13612   NaN
13613   NaN
13614   NaN
13615   NaN
13616   NaN
13617   NaN
13618   NaN
13619   NaN
13620   NaN
13621   NaN
13622   NaN
13623   NaN
13624   NaN
13625   NaN
13626   NaN
13627   NaN
13628   NaN
13629   NaN
Name: FLDSTRENG, Length: 13630, dtype: float64

In [66]:
df.dtypes

RID                        int64
PTID                      object
VISCODE                   object
SITE                       int64
COLPROT                   object
ORIGPROT                  object
EXAMDATE                  object
DX_bl                     object
AGE                      float64
PTGENDER                  object
PTEDUCAT                   int64
PTETHCAT                  object
PTRACCAT                  object
PTMARRY                   object
APOE4                    float64
FDG                      float64
PIB                      float64
AV45                     float64
ABETA                     object
TAU                       object
PTAU                      object
CDRSB                    float64
ADAS11                   float64
ADAS13                   float64
ADASQ4                   float64
MMSE                     float64
RAVLT_immediate          float64
RAVLT_learning           float64
RAVLT_forgetting         float64
RAVLT_perc_forgetting    float64
                          ...
Entorhinal_bl            float64
Fusiform_bl              float64
MidTemp_bl               float64
ICV_bl                   float64
MOCA_bl                  float64
EcogPtMem_bl             float64
EcogPtLang_bl            float64
EcogPtVisspat_bl         float64
EcogPtPlan_bl            float64
EcogPtOrgan_bl           float64
EcogPtDivatt_bl          float64
EcogPtTotal_bl           float64
EcogSPMem_bl             float64
EcogSPLang_bl            float64
EcogSPVisspat_bl         float64
EcogSPPlan_bl            float64
EcogSPOrgan_bl           float64
EcogSPDivatt_bl          float64
EcogSPTotal_bl           float64
ABETA_bl                  object
TAU_bl                    object
PTAU_bl                   object
FDG_bl                   float64
PIB_bl                   float64
AV45_bl                  float64
Years_bl                 float64
Month_bl                 float64
Month                      int64
M                          int64
update_stamp              object
Length: 113, dtype: object