## ADNI Merged Data EDA

In [2]:
import pandas as pd
import numpy as np

In [ ]:
"C:\Users\winsl0w\Documents\CS109_notebooks\FINAL PROJECT\Study Info\ADNIMERGE.csv"

In [6]:
df = pd.read_csv('Study Info/ADNIMERGE.csv', low_memory=False)
dd = pd.read_csv('Study Info/data/ADNIMERGE_DICT.csv')

FileNotFoundError: File b'Study Info/data/ADNIMERGE_DICT.csv' does not exist

In [62]:
df.head()

,RID,PTID,VISCODE,SITE,COLPROT,ORIGPROT,EXAMDATE,DX_bl,AGE,PTGENDER,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,011_S_0002,bl,11,ADNI1,ADNI1,2005-09-08,CN,74.3,Male,...,NaN,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0,2018-10-19 22:51:15.0
1,3,011_S_0003,bl,11,ADNI1,ADNI1,2005-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0,2018-10-19 22:51:15.0
2,3,011_S_0003,m06,11,ADNI1,ADNI1,2006-03-13,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6,2018-10-19 22:51:15.0
3,3,011_S_0003,m12,11,ADNI1,ADNI1,2006-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12,2018-10-19 22:51:15.0
4,3,011_S_0003,m24,11,ADNI1,ADNI1,2007-09-12,AD,81.3,Male,...,239.7,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24,2018-10-19 22:51:15.0

In [63]:
df.shape

(13632, 113)

In [64]:
# How much missing data do we have per column?
cols_with_nulls = df.columns[df.isnull().any()]

idx = []
missing = []
missing_pct = []

for col in cols_with_nulls:
    idx.append(col)
    missing.append(len(df[col][df[col].isnull()]))
    missing_pct.append(100 * len(df[col][df[col].isnull()])/len(df[col]))

missing_df = pd.DataFrame(np.array([missing, missing_pct]).T, index=idx, columns=['num missing', 'pct missing'])
missing_df.head()

       num missing  pct missing
DX_bl         16.0     0.117371
AGE            1.0     0.007336
APOE4        378.0     2.772887
FDG        10125.0    74.273768
PIB        13409.0    98.364143

In [67]:
df.describe()

,RID,SITE,AGE,PTEDUCAT,APOE4,FDG,PIB,AV45,CDRSB,ADAS11,...,EcogSPOrgan_bl,EcogSPDivatt_bl,EcogSPTotal_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M
count,13632.000000,13632.000000,13631.000000,13632.000000,13254.000000,3507.000000,223.000000,2510.000000,9778.000000,9683.000000,...,6226.000000,6382.000000,6524.000000,9651.000000,149.000000,6227.000000,13632.000000,13632.000000,13632.000000,13632.000000
mean,2394.221391,75.639305,73.677852,16.025455,0.532368,1.206657,1.783161,1.190519,2.102526,11.475344,...,1.617376,1.805756,1.659148,1.246856,1.588003,1.196620,2.310680,27.671344,27.590889,27.411312
std,1949.983450,116.331834,6.977834,2.813189,0.654409,0.159250,0.422511,0.226900,2.834631,8.448760,...,0.824599,0.884083,0.689057,0.144129,0.305423,0.220142,2.390667,28.629223,28.585201,28.412956
min,2.000000,2.000000,54.400000,4.000000,0.000000,0.636743,1.095000,0.805364,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.693671,1.155000,0.805364,0.000000,0.000000,0.000000,0.000000
25%,649.000000,21.000000,69.400000,14.000000,0.000000,1.109225,1.361250,1.009253,0.000000,6.000000,...,1.000000,1.000000,1.128210,1.159195,1.360000,1.016820,0.495551,5.934430,6.000000,6.000000
50%,1378.000000,41.000000,73.600000,16.000000,0.000000,1.219320,1.850000,1.108830,1.000000,9.000000,...,1.166670,1.500000,1.393940,1.253810,1.490000,1.112820,1.524980,18.262300,18.000000,18.000000
75%,4401.000000,116.000000,78.500000,18.000000,1.000000,1.312325,2.127500,1.356988,3.000000,15.000000,...,2.000000,2.250000,1.974360,1.338620,1.835000,1.366640,3.468860,41.541000,42.000000,42.000000
max,6582.000000,941.000000,91.400000,20.000000,2.000000,1.751210,2.927500,2.669210,18.000000,70.000000,...,4.000000,4.000000,3.948720,1.701130,2.282500,2.025560,12.689900,151.967000,150.000000,156.000000

In [68]:
missing_sorted = missing_df.sort_values(by=['pct missing'], ascending=False)
print(missing_sorted)

                          num missing  pct missing
FLDSTRENG_bl                  13632.0   100.000000
FLDSTRENG                     13632.0   100.000000
PIB_bl                        13483.0    98.906984
PIB                           13409.0    98.364143
PTAU                          11262.0    82.614437
ABETA                         11261.0    82.607101
TAU                           11261.0    82.607101
AV45                          11122.0    81.587441
FDG                           10125.0    74.273768
DIGITSCOR                      9832.0    72.124413
EcogSPOrgan                    8013.0    58.780810
EcogPtOrgan                    7946.0    58.289319
EcogSPDivatt                   7908.0    58.010563
MOCA                           7899.0    57.944542
EcogSPVisspat                  7867.0    57.709800
EcogPtDivatt                   7864.0    57.687793
EcogPtVisspat                  7863.0    57.680458
EcogPtPlan                     7831.0    57.445716
EcogSPPlan                     7826.0    57.409038
EcogPtLang                     7822.0    57.379695
EcogPtTotal                    7815.0    57.328345
EcogPtMem                      7802.0    57.232981
EcogSPTotal                    7758.0    56.910211
EcogSPMem                      7758.0    56.910211
EcogSPLang                     7752.0    56.866197
EcogSPOrgan_bl                 7406.0    54.328052
AV45_bl                        7405.0    54.320716
EcogSPDivatt_bl                7250.0    53.183685
EcogPtOrgan_bl                 7230.0    53.036972
EcogSPVisspat_bl               7190.0    52.743545
...                               ...          ...
ADAS11                         3949.0    28.968603
ADASQ4                         3926.0    28.799883
mPACCdigit                     3921.0    28.763204
mPACCtrailsB                   3919.0    28.748533
MMSE                           3914.0    28.711854
CDRSB                          3854.0    28.271714
FAQ                            3839.0    28.161678
Entorhinal_bl                  2307.0    16.923415
MidTemp_bl                     2307.0    16.923415
Fusiform_bl                    2307.0    16.923415
Hippocampus_bl                 2186.0    16.035798
Ventricles_bl                   878.0     6.440728
WholeBrain_bl                   620.0     4.548122
FSVERSION_bl                    460.0     3.374413
ICV_bl                          460.0     3.374413
APOE4                           378.0     2.772887
TRABSCOR_bl                     226.0     1.657864
ADAS13_bl                        87.0     0.638204
RAVLT_perc_forgetting_bl         62.0     0.454812
FAQ_bl                           56.0     0.410798
RAVLT_forgetting_bl              40.0     0.293427
RAVLT_learning_bl                40.0     0.293427
RAVLT_immediate_bl               40.0     0.293427
ADAS11_bl                        24.0     0.176056
DX_bl                            16.0     0.117371
LDELTOTAL_BL                      6.0     0.044014
ADASQ4_bl                         6.0     0.044014
mPACCtrailsB_bl                   4.0     0.029343
mPACCdigit_bl                     4.0     0.029343
AGE                               1.0     0.007336

[93 rows x 2 columns]

In [66]:
df.dtypes

RID                        int64
PTID                      object
VISCODE                   object
SITE                       int64
COLPROT                   object
ORIGPROT                  object
EXAMDATE                  object
DX_bl                     object
AGE                      float64
PTGENDER                  object
PTEDUCAT                   int64
PTETHCAT                  object
PTRACCAT                  object
PTMARRY                   object
APOE4                    float64
FDG                      float64
PIB                      float64
AV45                     float64
ABETA                     object
TAU                       object
PTAU                      object
CDRSB                    float64
ADAS11                   float64
ADAS13                   float64
ADASQ4                   float64
MMSE                     float64
RAVLT_immediate          float64
RAVLT_learning           float64
RAVLT_forgetting         float64
RAVLT_perc_forgetting    float64
                          ...
Entorhinal_bl            float64
Fusiform_bl              float64
MidTemp_bl               float64
ICV_bl                   float64
MOCA_bl                  float64
EcogPtMem_bl             float64
EcogPtLang_bl            float64
EcogPtVisspat_bl         float64
EcogPtPlan_bl            float64
EcogPtOrgan_bl           float64
EcogPtDivatt_bl          float64
EcogPtTotal_bl           float64
EcogSPMem_bl             float64
EcogSPLang_bl            float64
EcogSPVisspat_bl         float64
EcogSPPlan_bl            float64
EcogSPOrgan_bl           float64
EcogSPDivatt_bl          float64
EcogSPTotal_bl           float64
ABETA_bl                  object
TAU_bl                    object
PTAU_bl                   object
FDG_bl                   float64
PIB_bl                   float64
AV45_bl                  float64
Years_bl                 float64
Month_bl                 float64
Month                      int64
M                          int64
update_stamp              object
Length: 113, dtype: object